<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Клиника питомцев - Список ветеринаров</title>
    <link rel="stylesheet" th:href="@{/css/veterinarian-styles.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <div th:if="${error}">
        <p th:text="${error}"></p>
    </div>
    <div th:if="${veterinarians.empty}">
        Список ветеринаров пуст!
    </div>
    <div th:if="not ${veterinarians.empty}">
        <table>
            <thead>
                <tr>
                    <th>№</th>
                    <th>ФИО</th>
                    <th>Контактный телефон</th>
                    <th> Просмотр </th>
                </tr>
            </thead>
            <tbody>
                <!--/*@thymesVar id="veterinarian" type="ru.petrosyan.clinicOfPet.model.Veterinarian"*/-->
                <tr th:each="veterinarian, iterStat : ${veterinarians}" th:object="${veterinarian}">
                    <td th:text="${iterStat.index}"> 3 </td>
                    <td th:text="*{name}"> Зубенко Михаил Петрович </td>
                    <td th:text="*{phone}"> +7 (999) 555 44 44 </td>
                    <td>
                        <a th:href="@{/veterinarian/{id}(id = *{veterinarian_id})}">
                            Посмотреть сведения
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>