<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавление ветеринара</title>
    <link rel="stylesheet" th:href="@{/css/veterinarian-styles.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <!--/*@thymesVar id="veterinarian" type="ru.petrosyan.clinicOfPet.model.Veterinarian"*/-->
    <form th:action="@{/veterinarian}" th:method="POST" th:object="${veterinarian}">
        <label> Введите ФИО
            <input type="text" th:field="*{name}">
        </label>
        <div th:if="${#fields.hasErrors()}" th:errors="*{name}"></div>
        <label>
            <input type="tel" th:field="*{phone}">
        </label>
        <div th:if="${#fields.hasErrors()}" th:errors="*{phone}"></div>
        <input type="submit" value="Добавить">
    </form>
</body>
</html>