<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--/*@thymesVar id="veterinarian" type="ru.petrosyan.clinicOfPet.model.Veterinarian"*/-->
    <title th:text="${veterinarian.name}"></title>
    <link rel="stylesheet" th:href="@{/css/veterinarian-styles.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <div>
        <h2> Информация о ветеринаре </h2>
        <!--/*@thymesVar id="veterinarian" type="ru.petrosyan.clinicOfPet.model.Veterinarian"*/-->
        <div th:object="${veterinarian}">
            <p th:text="*{name}"> ФИО </p>
            <p th:text="*{phone}"> Контактный телефон </p>
        </div>
    </div>
    <div>
        <h2> Список приемов </h2>
        <!-- Добавить позже, выше ближайшие незавершенные, ниже завершенные -->
    </div>
</body>
</html>